{\rtf1\ansi\ansicpg1252\deff0\nouicompat\deflang1033{\fonttbl{\f0\fnil\fcharset0 Calibri;}}
{\*\generator Riched20 10.0.17134}\viewkind4\uc1 
\pard\sa200\sl276\slmult1\f0\fs22\lang9 #page-body \{\par
\tab font-family: 'Hind Madurai', sans-serif;\par
\tab text-shadow: none;\par
\}\par
body \{\par
\tab font-family: 'Mukta Malar', sans-serif;\par
\tab text-shadow: none;\par
\tab font-size: 9pt !important;\par
\tab font-weight: normal !important;\par
\tab text-align: left !important;\par
\tab line-height: 1.2 !important;\par
\tab word-spacing: 1px;\par
\tab color: #434343;\par
\}\par
ul.forums \{\par
\tab background-color: #F5F8FA;\par
\tab background-image: none;\par
\}\par
.thin a\{\par
\tab background:url(http://www.bloggif.com/img/glitter/197.gif)\par
\}\par
a strong\{\par
\tab background:url(http://www.bloggif.com/img/glitter/197.gif)\par
\}\par
.LGlikecount \{\par
\tab background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/cDyyloiRSzM.png');\par
\tab background-position: 5px 50%;\par
\tab background-repeat: no-repeat;\par
\tab background-color: #3793FF;\par
\tab border: 1px solid #C2D5E3;\par
\tab margin: 6px 2px 0px;\par
\tab padding: 5px 8px 5px 29px !important;\par
\tab border-radius: 2px;\par
\tab color: #FFF !important;\par
\}\par
.LGlike \{\par
\tab background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yn/r/lH1ibRl5GKq.png') no-repeat scroll 0px 0px #105289;\par
\tab background-position: 5px 50%;\par
\tab border-radius: 2px;\par
\tab color: #FFF !important;\par
\tab cursor: pointer;\par
\tab display: inline-block;\par
\tab font-size: 11px;\par
\tab line-height: 22px;\par
\tab padding: 0px 7px 0px 26px;\par
\}\par
#LGlogin\{\par
\tab position:fixed;\par
\tab width:50%;\par
\tab left:25%;\par
\tab height:30%;\par
\tab top:35%;\par
\tab text-align:center;\par
\tab border-radius:5px;\par
\tab z-index:999;\par
\tab border:2px solid #105289;\par
\tab color:#105289;\par
\tab background:#fff;\par
\tab font-weight:bold;\par
\tab font-size:15px\par
\}\par
#LGlogin h1\{\par
\tab margin-top:0;\par
\tab margin-bottom:7px;\par
\tab background:#105289;\par
\tab color:#fff;\par
\tab padding:3px;\par
\tab font-size:16px\par
\}\par
#LGloginbtn\{\par
\tab position:fixed;\par
\tab top:40;\par
\tab right:5px;\par
\tab border-bottom:2px solid;\par
\tab border-right:2px solid;\par
\tab border-left:2px solid;\par
\tab color:#105289;\par
\tab border-bottom-right-radius:5px;\par
\tab border-bottom-left-radius:5px;\par
\tab font-weight:bold;\par
\tab font-size:14px;\par
\tab padding:5px;\par
\tab background:#fff;\par
\tab cursor:pointer\par
\}\par
#LGloginbtn:hover\{\par
\tab color:red\par
\}\par
img.closebutton\{\par
\tab float:right;\par
\tab margin-right:2px;\par
\tab background:url('https://i.servimg.com/u/f45/16/95/07/69/bt_clo10.png') no-repeat 0 -20px;\par
\tab width:20px;\par
\tab height:20px;\par
\tab cursor:pointer;\par
\tab z-index:999\par
\}\par
img.closebutton:hover\{\par
\tab background:url('https://i.servimg.com/u/f45/16/95/07/69/bt_clo10.png') 0 0\par
\}\par
#site-title,#site-title h1\{\par
\tab display:none\par
\}\par
.syntaxhighlighter .toolbar\{\par
\tab display:none!important\par
\}\par
.rk\{\par
\tab background-color:#37b;\par
\tab border:1px solid #555;\par
\tab border-radius:4px;\par
\tab color:#fff;\par
\tab display:inline-block;\par
\tab font-size:11px;\par
\tab height:20px;\par
\tab line-height:20px;\par
\tab margin-top:4px;\par
\tab padding:0 5px;\par
\}\par
.rk.ni\{\par
\tab background-color:#e4287c\par
\}\par
.rk.pa\{\par
\tab background-color:#800000\par
\}\par
.rk.ad\{\par
\tab background-color:#33a\par
\}\par
.rk.pu\{\par
\tab background-color:#d4a017\par
\}\par
.rk.mo\{\par
\tab background-color:#71e\par
\}\par
.rk.di\{\par
\tab background-color:#800\par
\}\par
.rk.gl\{\par
\tab background-color:#282\par
\}\par
.rk\{\par
\tab margin:3 auto;\par
\tab text-align:left\par
\}\par
[data-counter]:after\{\par
\tab background-color:#ff6969;\par
\tab background-image:-webkit-linear-gradient(#ff6969 0,#f00 100%);\par
\tab background-image:-moz-linear-gradient(#ff6969 0,#f00 100%);\par
\tab background-image:-o-linear-gradient(#ff6969 0,#f00 100%);\par
\tab background-image:-ms-linear-gradient(#ff6969 0,#f00 100%);\par
\tab background-image:linear-gradient(#ff6969 0,#f00 100%);\par
\tab content:attr(data-counter);\par
\tab position:absolute;\par
\tab padding:2px 6px;\par
\tab border:2px solid white;\par
\tab border-radius:100px;\par
\tab box-shadow:0 1px 2px rgba(0,0,0,.5),0 1px 4px rgba(0,0,0,.4),0 0 1px rgba(0,0,0,.7) inset,0 10px 0 rgba(255,255,255,.11) inset;\par
\tab background-clip:padding-box;\par
\tab font:bold 10px "Helvetica Neue",sans-serif;\par
\tab color:white;\par
\tab text-decoration:none;\par
\tab text-shadow:0 -1px 0 rgba(0,0,0,.6);\par
\tab margin-left:-10px;\par
\tab margin-top:-10px\par
\}\par
\u8203? .vote .vote-button,.vote-no-bar\{\par
\tab display:none\par
\}\par
.vote .vote-button:first-child\{\par
\tab display:block\par
\}\par
#backtotop \{\par
\tab background: url("http://dev.tecnovasolutions.com/travels/themes/bootstrap/images/icon_top.png") no-repeat scroll center center transparent;\par
\tab bottom: 5px;\par
\tab cursor: pointer;\par
\tab display: none;\par
\tab height: 50px;\par
\tab position: fixed;\par
\tab right: calc(100% - 50px);\par
\tab width: 40px;\par
\tab z-index: 1;\par
\}\par
#backtotop:hover \{\par
\tab opacity : 0.9;\par
\}\par
#stickymsg \{\par
background: none repeat scroll 0 0 #000;\par
border: 1px solid #d55b7d;\par
border-radius: 3px 3px 3px 3px;\par
bottom: 10px;\par
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 0 #0B3003 inset;\par
color: #FFFFFF;\par
font-size: 10px;\par
height: auto;\par
line-height: 16px;\par
opacity: 0.8;\par
padding: 10px;\par
position: fixed;\par
right: 10px;\par
text-decoration: none;\par
width: 260px;\par
z-index: 999;\par
\}\par
/* My Toolbar */\par
#fa_toolbar,#fa_menulist,#notif_list,#fa_right\{\par
font-family:Mukta Malar;\par
font-size:10px;\par
font-style:normal\par
\}\par
#fa_toolbar\{\par
background:#3B5998 url() repeat-x;\par
border-bottom:7px solid #232B2B;\par
border-top:1px solid #232B2B;\par
box-shadow:0 1px #232B2B, 0 2px 1px #232B2B;\par
font-family: 'Mukta Malar', sans-serif;\par
font-size:10px;\par
font-style:normal\par
\}\par
#fa_toolbar a\{\par
text-decoration:none!important\par
\}\par
#fa_search #fa_textarea\{\par
-moz-box-shadow:0 2px 4px #3B5998 inset;\par
-webkit-box-shadow:0 2px 4px #3B5998 inset;\par
background-color:#E7EBF2;\par
background-image:url(https://i.servimg.com/u/f78/17/96/03/52/search10.png);\par
background-position:4px center;\par
background-repeat:no-repeat;\par
border:1px solid #3B5998;\par
border-radius:0!important;\par
box-shadow:0 2px 4px #3B5998 inset;\par
color:#3B5998\par
\}\par
#fa_right\{\par
margin-right:50px\par
\}\par
#fa_right a.rightHeaderLink:first-child,#fa_right.welcome #fa_menu #fa_welcome,#fa_welcome\{\par
background:-moz-linear-gradient(#E7EBF2,#E7EBF2);\par
background-attachment:scroll;\par
background-image:-webkit-linear-gradient(#E7EBF2,#E7EBF2);\par
border-top-left-radius:3px;\par
border-top-right-radius:3px;\par
box-shadow:0 1px 0 #3B5998 inset;\par
color:#3B5998!important;\par
font-size:8pt!important;\par
padding:0 5px;\par
\}\par
#fa_menulist,#notif_list\{\par
\tab -moz-border-radius:0 0 6px 6px;\par
\tab -moz-box-shadow:0 5px 7px #3B5998;\par
\tab -webkit-box-shadow:0 5px 7px #3B5998;\par
\tab background:-moz-linear-gradient(#E7EBF2,#EDEDED);\par
\tab background-image:-webkit-linear-gradient(#E7EBF2,#EDEDED);\par
\tab border-radius:0 0 6px 6px;\par
\tab box-shadow:0 5px 7px #3B5998\par
\}\par
#fa_hide,#fa_magnifier,#fa_share,#fa_toolbar_hidden\{\par
\tab display:none!important\par
\}\par
.search-box\{\par
\tab float:left;\par
\tab margin-left:5px;\par
\tab margin-top:3px\par
\}\par
#search-box\{\par
\tab float:right;\par
\tab margin-right:5px;\par
\tab margin-top:10px;\par
\tab white-space:nowrap\par
\}\par
* html #search-box\{\par
\tab margin-right:35px\par
\}\par
#search-box #keywords\{\par
\tab width:95px;\par
\}\par
#search-box input\{\par
\tab border:1px solid #BCBCBC\par
\}\par
#search-box input.button1\{\par
\tab padding:1px 5px\par
\}\par
input.search\{\par
\tab background:url(https://illiweb.com/fa/sprite_prosilver_navbar.png) no-repeat top left;\par
\tab background-position:0 -701px;\par
\tab padding-left:17px\par
\}\par
#fa_right .toolbar_list_name, #fa_right .toolbar_name \{\par
\tab font-size:8pt!important;\par
\tab display: inline-block;\par
\tab line-height: 30px;\par
\tab padding: 0px 5px;\par
\tab color: #fff;\par
\}\par
#fa_right .toolbar_list_name.active \{\par
\tab background-color: #FFF;\par
\tab color: #000;\par
\tab border-left: 1px solid #000;\par
\tab border-right: 1px soli #000;\par
\}\par
#fa_right .toolbar_list \{\par
\tab display: none;\par
\tab position: absolute;\par
\tab list-style-type: none;\par
\tab margin: 0px;\par
\tab padding: 0px 10px;\par
\tab background-color: #FFFFFF;\par
\tab min-width: 200px;\par
\tab width: auto;\par
\tab border: 1px solid #333333;\par
\tab line-height: 30px;\par
\tab border-top: 0px solid #FFFFFF;\par
\tab z-index: 999;\par
\tab color: #000000 !important;\par
\}\par
#fa_right .toolbar_list :link, #fa_right .toolbar_list :visited \{\par
\tab color: #00569C !important;\par
\}\par
.column2 \{\par
\tab float: center !important;\par
\}\par
#close-profile \{\par
\tab cursor: pointer;\par
\tab padding: 5px;\par
\tab position: absolute;\par
\tab right: -15px;\par
\tab top: -25px;\par
\}\par
#prevBG\{\par
\tab background:rgba(0, 0, 0, 0.31);\par
\tab bottom:0;\par
\tab left:0;\par
\tab position:fixed;\par
\tab right:0;\par
\tab top:0;\par
\tab z-index:99!important\par
\}\par
div.post .corners-top, .post .corners-bottom \{\par
\tab display: none;\par
\}\par
#content-container div#container \{\par
\tab float:none !important;\par
\}\par
#fa_right \{\par
\tab float: none !important;\par
\}\par
#fa_left \{\par
\tab float: right;\par
\}\par
/*Round Corners*/\par
.topWelcome \{\par
\tab margin-top: -30px;\par
\}\par
#min-width \{\par
\tab margin-top: 0px;\par
\}\par
#fa_toolbar_hidden \{\par
\tab top: 0px;\par
\}\par
#fa_toolbar \{\par
\tab position: absolute;\par
\tab top: 0px;\par
\}\par
body \{\par
\tab margin-top: 30px;\par
\}\par
.popupWrapper \{\par
\tab background: url('https://i.servimg.com/u/f72/18/07/42/17/trans610.png') repeat;\par
\tab background: rgba(0,0,0,0.6);\par
\tab padding: 8px;\par
\tab -webkit-box-shadow: rgba(0,0,0,0.5) 0px 10px 20px;\par
\tab -moz-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.7);\par
\tab box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.7 );\par
\tab -moz-border-radius: 4px;\par
\tab -webkit-border-radius: 4px;\par
\tab border-radius: 4px;\par
\}\par
.popupInner \{\par
\tab background: white;\par
\tab width: 500px;\par
\tab overflow: auto;\par
\tab -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);\par
\tab -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);\par
\tab box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);\par
\tab overflow-x: hidden;\par
\}\par
.popupInner h3 \{\par
\tab background: #eee url(https://i.servimg.com/u/f72/18/07/42/17/highli13.png) repeat-x top;\par
\tab border-bottom: 1px solid #d8d8d8;\par
\tab text-shadow: rgba(255,255,255,0.8) 0px 1px 0px;\par
\tab padding: 8px 10px 9px;\par
\tab font-size: 16px;\par
\tab font-weight: 300;\par
\}\par
.popupClose \{\par
\tab position: absolute;\par
\tab right: 20px;\par
\tab top: 20px;\par
\}\par
.ipsBox, .ipsPad \{\par
\tab padding: 9px;\par
\}\par
.ipsBox \{\par
\tab background: #eee;\par
\}\par
.block_list > li \{\par
\tab padding: 5px 10px;\par
\tab list-style-type: none;\par
\tab border-top: 1px solid #fff;\par
\tab border-bottom: 1px solid #eaeaea;\par
\}\par
div.aba \{\par
\tab margin-left: 153px;\par
\tab background:#fcfcfc;\par
\tab text-align:justify;\par
\tab min-height: 400px;\par
\tab border: 1px solid #dcdcdc!important;\par
\}\par
#navebar \{\par
\tab border-top: 1px solid #dcdcdc;\par
\tab border-bottom: 1px solid #dcdcdc;\par
\tab border-left: 1px solid #dcdcdc;\par
\tab font:bold 12px Mukta Malar,helvetica,arial,sans-serif;\par
\tab margin:0;\par
\tab float: left;\par
\}\par
#navebar li \{\par
\tab display: block;\par
\tab background: #f5f5f5;\par
\tab color: #808080;\par
\tab border-bottom: 1px solid #dcdcdc;\par
\tab list-style:none;\par
\}\par
#navebar li a:hover \{\par
\tab background:#f2f2f2;\par
\tab color:#808080;\par
\}\par
#navebar li a.active \{\par
\tab width: 135px;\par
\tab position: relative;\par
\tab z-index: 999;\par
\tab border-right: 2px solid #fcfcfc;\par
\tab background: #fcfcfc;\par
\tab color: #353535;\par
\tab font-weight: bold;\par
\}\par
#navebar li a \{\par
\tab border-right: 1px solid #dcdcdc;\par
\tab font-weight: normal;\par
\tab cursor: pointer;\par
\tab background: #f5f5f5;\par
\tab color: #8d8d8d;\par
\tab padding: 10px 8px;\par
\tab outline: 0;\par
\tab color: #8d8d8d;\par
\tab -webkit-transition: background-color 0.1s ease-in-out;\par
\tab -moz-transition: background-color 0.3s ease-in-out;\par
\tab text-decoration:none;\par
\tab width:135px;\par
\tab display:block;\par
\}\par
#fa_notifications, #fa_toolbar, #fa_right .toolbar_list_name \{\par
\tab cursor: pointer;\par
\}\par
.post-modbox \{\par
\tab padding: 10px;\par
\tab margin: 5px;\par
\tab border: 1px solid #C89;\par
\tab background: #FFC8C8;\par
\tab color: #F00;\par
\tab font-weight: bold;\par
\tab font-size: 1em;\par
\tab border-radius: 3px;\par
\}\par
.post-modbox div \{\par
\tab background: #F16363;\par
\tab color: #FFF;\par
\tab padding: 5px 10px;\par
\tab border-bottom: 1px solid #FFF;\par
\tab border-radius: 2px;\par
\}\par
.post-modbox p \{\par
\tab margin: 8px 0 0 8px;\par
\}\par
.fa_info \{\par
\tab background-color:#daecfb;\par
\tab background-image:url(http://cdn2.iconfinder.com/data/icons/drf/PNG/iChat.png);\par
\tab color:#3b5998\par
\}\par
.fa_ok \{\par
\tab background-color:#dff2bf;\par
\tab background-image:url(http://i43.tinypic.com/whlddu.png);\par
\tab color:#3b5998;\par
\tab box-shadow:inset 0 2px 20px lightgreen,inset 0 -2px 20px lightgreen;\par
\tab border:1px solid lightgreen!important\par
\}\par
.fa_warning\{\par
\tab background-color:#feefb3;\par
\tab background-image:url(http://i43.tinypic.com/fd90tk.png);\par
\tab color:#3b5998;\par
\tab box-shadow:inset 0 2px 10px rgb(255,173,0),inset 0 -2px 10px rgb(255,173,0);\par
\tab border:1px solid rgb(255,194,0)!important;\par
\}\par
.fa_alert\{\par
\tab background-color:#ffbaba;\par
\tab background-image:url(http://i43.tinypic.com/dzxy4k.png);\par
\tab color:#3b5998\par
\}\par
.fa_info,.fa_ok,.fa_warning,.fa_alert\{\par
\tab background-position:10px center;\par
\tab background-repeat:no-repeat;\par
\tab border:#fff 1px solid;\par
\tab border-radius:8px;\par
\tab font-size:14px;\par
\tab margin:10px 0;\par
\tab padding:15px 10px 15px 50px;\par
\}\par
#logo-desc p, #page-header \{\par
\tab font-family: 'Mukta Malar';\par
\tab color: #fff;\par
\tab font-size: 12px;\par
\tab font-weight: bold;\par
\}\par
.bspoiler\{\par
\tab border:1px solid #CCC;\par
\tab margin:3px 0;\par
\tab padding:5px\par
\}\par
.inline_quote\{\par
\tab -moz-border-radius:3px;\par
\tab -webkit-border-radius:3px;\par
\tab background:#DFDFDF url(https://illiweb.com/fa/prosilver/quote.gif) no-repeat;\par
\tab background-position:2px 2px;\par
\tab background-size:10px;\par
\tab border-radius:3px;\par
\tab color:#555;\par
\tab font-style:italic;\par
\tab padding:1px 5px 1px 15px;\par
\}\par
.inline_code\{\par
\tab color:#444;\par
\tab display:inline;\par
\tab font-family:monospace;\par
\tab font-size:1.1em;\par
\tab padding:0 5px;\par
\tab white-space:pre\par
\}\par
pre.inline_code \{\par
\tab display : inline;\par
\tab background: white;\par
\tab color: green;\par
\tab border: 1px solid #CCC;\par
\}\par
#topp a\{\par
\tab color: transparent;\par
\}\par
#topp\{\par
\tab text-align: center;\par
\}\par
#topp a span\{\par
\tab display:none;\par
\}\par
#topp img \{\par
\tab border: 1px solid #CCC;\par
\tab border-radius: 50px;\par
\tab box-shadow: 0px 1px 8px #CCC;\par
\tab height: 38px;\par
\tab margin-right: 9px;\par
\tab padding: 1px;\par
\tab width: 38px;\par
\}\par
a[href="/u8211"]\{\par
\tab padding-left: 19px;\par
\tab padding-top: 2px;\par
\tab background: url(https://i.servimg.com/u/f22/15/42/72/40/smod10.gif) no-repeat left;\par
\tab font-style: normal;\par
  \tab font-color: green;\par
\tab font-weight: bold;\par
\tab font-size: 1.3em;\par
\}\par
a[href="/u2710"]\{\par
\tab padding-left: 19px;\par
\tab padding-top: 2px;\par
\tab background: url(https://illiweb.com/fa/admin/couronne.png) no-repeat left;\par
\tab font-style: normal;\par
    \tab font-color: green;\par
\tab font-size: 1.3em;\par
\}\par
a[href="/u4963"]\{\par
\tab padding-left: 13px;\par
\tab background: url(https://illiweb.com/fa/album_fr/rating_star.png) no-repeat left;\par
\tab font-style: normal;\par
\tab font-weight: bold;\par
    \tab font-color: green;\par
\tab font-size: 1.3em;\par
\}\par
a[href="/u8158"]\{\par
\tab padding-left: 13px;\par
\tab background: url(https://illiweb.com/fa/admin/couronne.png) no-repeat left;\par
\tab font-style: normal;\par
    \tab font-color: green;\par
\tab font-weight: bold;\par
\tab font-size: 1.3em;\par
\}\par
#theStaff a \{\par
\tab color:#C66;\par
\tab background:url(https://i.servimg.com/u/f38/18/21/41/30/couron11.png) no-repeat 3px center #FDD;\par
\tab border:1px solid #FBB;\par
\tab border-radius:3px;\par
\tab display:inline-block;\par
\tab padding:4px 6px 4px 25px;\par
\}\par
#theStaff a:hover \{\par
\tab color:#B55;\par
\tab background-color:#ECC;\par
\tab border-color:#EAA;\par
\}\par
.fa_vote, .fa_voted, .fa_count \{\par
\tab font-size:12px;\par
\tab font-family:Verdana, Arial, Helvetica, Sans-serif;\par
\tab display:inline-block !important;\par
\tab width:auto !important;\par
\tab float:none !important;\par
\tab transition:300ms;\par
\}\par
.fa_voted, .fa_vote:hover \{\par
\tab opacity:0.4 \par
\}\par
.fa_voted \{\par
\tab cursor:default \par
\}\par
.fa_count \{\par
\tab font-weight:bold;\par
\tab margin:0 3px;\par
\tab cursor:default;\par
\}\par
.fa_positive \{\par
\tab color:#4A0 \par
\}\par
.fa_negative \{\par
\tab color:#A44 \par
\}\par
.fa_votebar, .fa_votebar_inner \{\par
\tab background:#C44;\par
\tab height:3px;\par
\}\par
.fa_votebar_inner \{\par
\tab background:#4A0;\par
\tab transition:300ms;\par
\}\par
/* -- Moderator Post TOP colors-- */\par
.post.st-answer.admin .inner \{\par
\tab border-color:#3793FF;\par
\}\par
.post.st-answer.special .inner\{\par
\tab border-color: #00c300;\par
\}\par
.post.st-answer.mod .inner\{\par
\tab border-color:#6600FF;\par
\}\par
.post.st-answer.poster .inner\{\par
\tab border-color:#af0606;\par
\}\par
.post.st-answer.revi .inner\{\par
\tab border-color:#ff0084;\par
\}\par
.post.st-answer.specialpost .inner\{\par
\tab border-color:#410093;\par
\}\par
/* -- Forum hidden items -- */\par
ul.navlinks\{\par
\tab border-bottom:none!important\par
\}\par
a[href="/groups"]\{\par
\tab display:none\par
\}\par
a[href="/viewonline"]\{\par
\tab display:none\par
\}\par
a[href="/publi"]\{\par
\tab display:none\par
\}\par
a[href="/portal"]\{\par
\tab display:none\par
\}\par
#search-box\{\par
\tab display:none\par
\}\par
a[href="/groups"]\{\par
\tab display:none\par
\}\par
#search-box\{\par
\tab display:none\par
\}\par
.topic-actions .buttons\{\par
\tab float:none!important\par
\}\par
.topic-actions .pathname-box\{\par
\tab margin-left:0!important\par
\}\par
.linklist\{\par
\tab display:none!important\par
\}\par
dd.moderation span\{\par
\tab display:none!important\par
\}\par
.right,.rightside\{\par
\tab display:none!important\par
\}\par
li.header dd, li.header dt, .h3, h3, table.table1 thead th, dl.codebox dt\{\par
\tab text-transform:none;\par
\}\par
span.corners-bottom, span.corners-bottom span, span.corners-top, span.corners-top span \{\par
\tab display:none;\par
\}\par
a:link \{\par
\tab text-decoration: none !important;\par
\}\par
a:hover \{\par
\tab text-decoration: none !important;\par
\}\par
.forums .row\{\par
\tab border:1px solid #fff;\par
\tab -moz-border-radius:10px\par
\}\par
.row dl dd\{\par
\tab border-left:none\par
\}\par
.edit\{\par
\tab display: none;\par
\}\par
.post #is_on.user_status \{\par
\tab display:none \par
\}\par
.post.online #is_off.user_status\{\par
\tab display:none \par
\}\par
.post.online #is_on.user_status \{\par
\tab display:inline \par
\}\par
/* -- START footer -- */\par
#page-footer .navbar \{\par
\tab background: #F5F8FA;\par
\}\par
#fa_toolbar \{\par
\tab font-weight: bold;\par
\tab font-size: 8pt!important;\par
\}\par
#page-footer .linklist \{\par
\tab background-color:#F5F8FA;\par
\tab text-align: center;\par
\}\par
/* forums category */\par
.forabg,.forumbg \{\par
\tab background:#FAFAFA;\par
\tab border:1px solid #3b5998;\par
\tab border-bottom-width:2px;\par
\tab border-radius:3px;\par
\tab margin-bottom:10px;\par
\tab overflow:hidden\par
\}\par
.forabg ul,.forumbg ul\{\par
\tab background:0 0\par
\}\par
.forabg .header,.forumbg .header \{\par
\tab background:#3b5998;\par
\tab border-bottom:solid 1px #dfdfdf;\par
\tab margin:-5px -5px 10px;\par
\tab padding:6px 3px 3px\par
\}\par
.forabg .header dd,.forumbg .header dd \{\par
\tab font-size:11px;\par
\tab font-weight:400\par
\}\par
.forabg .header dt,.forabg .header h2,.forumbg .header .dterm,.forumbg .header dt \{\par
\tab font-weight:400;\par
\tab padding-left:6px!important\par
\}\par
.forabg .header .dterm.full-size \{\par
\tab width:100%\par
\}\par
.forabg .header .dterm.full-size i.fa \{\par
\tab float:right;\par
\tab padding-right:10px\par
\}\par
.forabg .row,.forumbg .row \{\par
\tab background:#F2F2F2;\par
\tab border:1px solid #EEE!important;\par
\tab border-radius:3px;\par
\tab margin-bottom:10px;\par
\tab margin-left:5px;\par
\tab margin-right:5px;\par
\tab position:relative\par
\}\par
.forabg .row dd,.forumbg .row dd \{\par
\tab border:none!important\par
\}\par
.forabg a.forumtitle,.forumbg a.topictitle \{\par
\tab color:#39C\par
\}\par
a.forumtitle2 \{\par
\tab color:#fff;\par
\tab display:block;\par
\tab font-weight:500;\par
\tab margin:10px 0\par
\}\par
.forumbg .row .lastpost \{\par
\tab width:27%\par
\}\par
dd.lastpost \{\par
\tab width:22%\par
\}\par
.lastpost-user-avatar \{\par
\tab float:left;\par
\tab height:40px;\par
\tab margin-right:10px;\par
\tab width:40px\par
\}\par
.lastpost-infos \{\par
\tab margin-left:50px; font-family: 'Meera Inimai', sans-serif;\par
\}\par
a.lastpost-link \{\par
\tab display:block;\par
\tab max-width:100%; font-family: 'Mukta Malar';\par
\}\par
li.row dl \{\par
\tab background-position:3px 50%!important\par
\}\par
li.header dd.dterm \{\par
\tab width:52%\par
\}\par
.topiclist.topics .row dl dd.dterm \{\par
\tab box-sizing:border-box;\par
\tab padding-right:100px;\par
\tab width:56%\par
\}\par
li dl.forum-icon,ul.topiclist.search dl \{\par
\tab background-position:0 0!important;\par
\tab background-repeat:repeat-y\par
\}\par
/* -- \\who is online background -- */\par
.online \{\par
\tab background-color: #f5f8fa;\par
\tab color: #000;\par
\tab font-size: 11px;\par
\tab font-weight: 400;\par
\tab text-align: left !important;\par
\tab line-height: 1.2 !important;\par
\}\par
#fa_stats \{\par
\tab background: #F5F8FA;\par
\tab color: #FFF;\par
\tab font-family: 'Baloo Thambi', cursive;\par
\tab padding: 15px 0;\par
\tab text-align: center\par
\}\par
.img-whois \{\par
\tab float: right\par
\}\par
/* quote edit delete ip buttons */\par
.post-option, .frm-buttons a \{\par
\tab text-align: center;\par
\tab background-color: #3793FF;\par
\tab border: 1px solid #C2D5E3;\par
\tab margin: 6px 2px 0px;\par
\tab padding: 5px 8px 5px 29px !important;\par
\tab border-radius: 2px;\par
\tab color: #FFF !important;\par
\}\par
/* buttons */\par
.row3 a \{\par
\tab font-size: 12px;\par
\tab font-weight: bold;\par
\tab background: #3b5998;\par
\tab color: #FFF !important;\par
\tab margin: 6px 2px 0px;\par
\tab padding: 5px 8px 5px 29px !important;\par
\tab border-radius: 2px;\par
\}\par
.module .h3, .content .h3 \{\par
\tab background: #3b5998;\par
\tab border-radius: 2px;\par
\tab box-shadow: inset 0 0 1px 1px rgba(0,0,0,.1);\par
\tab color: #fff;\par
\tab font-size: 14px;\par
\tab font-weight: 500;\par
\tab height: 40px;\par
\tab line-height: 33px;\par
\tab border-bottom: 0;\par
\tab padding: 3px;\par
\tab text-indent: 10px;\par
\}\par
a.button1, a.button2, button.button2, input.button1, input.button2, a.icon-home \{\par
\tab font-size: 14px;\par
\tab font-weight: bold;\par
\tab background: #3b5998;\par
\tab border: 1px solid #3b5998;\par
\tab color: #FFF !important;\par
\tab margin: 6px 2px 0px;\par
\tab padding: 5px 8px 5px 29px !important;\par
\tab border-radius: 2px;\par
\tab cursor: pointer;\par
\tab display: inline-block;\par
\}\par
a.button1:hover, a.button2:hover, button.button2:hover, input.button1:hover, input.button2:hover, a.icon-home:hover \{\par
\tab font-size: 14px;\par
\tab font-weight: bold;\par
\tab background-color: #3793FF;\par
\tab border: 1px solid #C2D5E3;\par
\tab margin: 6px 2px 0px;\par
\tab padding: 5px 8px 5px 29px !important;\par
\tab border-radius: 2px;\par
\tab color: #FFF !important;\par
\tab cursor: pointer;\par
\tab display: inline-block;\par
\}\par
.post-option:hover\{\par
\tab background: #3b5998;\par
\tab color: white;\par
\tab padding: 2px 18px 3px 18px;\par
\tab border-top: 1px white solid;\par
\tab border-left: 1px white solid;\par
\tab border-right: 1px #000033 solid;\par
\tab border-bottom: 1px #000033 solid;\par
\}\par
/* ONLINE E OFLINE*/\par
.postprofile \{\par
\tab background: url(https://i.servimg.com/u/f18/18/45/41/65/row10.png) repeat-x 0 0 #F6F6F6;\par
\tab border: 1px solid #DDD;\par
\tab border-radius: 3px;\par
\tab padding: 60px 3px 3px;\par
\tab position: relative;\par
\tab text-align: center;\par
\}\par
.postprofile \{\par
\tab border-color: #fff;\par
\tab border-left-style: solid;\par
\tab border-left-width: 1px;\par
\tab color: #666;\par
\tab display: inline;\par
\tab float: right;\par
\tab margin: 5px 0 0;\par
\tab min-height: 80px;\par
\tab position: relative;\par
\tab width: 22%;\par
\tab word-wrap: break-word;\par
\}\par
div.post.online .postprofile:before \{\par
\tab content: url('https://i.servimg.com/u/f18/16/89/96/68/online15.png');\par
\}\par
div.post .postprofile:before \{\par
\tab content: url('https://i.servimg.com/u/f18/16/89/96/68/offlin19.png');\par
\tab left: 0;\par
\tab position: absolute;\par
\tab right: 0;\par
\tab top: 25px;\par
\tab z-index: 2;\par
\}\par
div.post.online .postprofile:after \{\par
\tab border-color: #84C754;\par
\}\par
div.post .postprofile:after \{\par
\tab background: #2E3133;\par
\tab border-bottom: 4px solid #868686;\par
\tab content: ".";\par
\tab font-size: 0;\par
\tab height: 16px;\par
\tab left: 0;\par
\tab position: absolute;\par
\tab right: 0;\par
\tab top: 25px;\par
\tab z-index: 1;\par
\}\par
.lastpost-avatar img \{\par
\tab border-radius: 32px;\par
\tab box-shadow: 0 1px 3px rgba(0,0,0,0.11), 0 0 1px rgba(0,0,0,0.22);\par
\tab display: block;\par
\tab height: 32px;\par
\tab width: 32px;\par
\tab background-color: #FFF;\par
\tab object-fit: cover;\par
\}\par
#fa_popup_content>div.post .postprofile dt>a,#main-content>div.post .postprofile dt>a,#userAvatar,.avatar,.mod-login-avatar dt,.postprofile dt>img,td.avatar-mini img \{\par
\tab background: #FFF;\par
\tab border-radius: 100px;\par
\tab box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.3);\par
\tab display: inline-block;\par
\tab height: 100px;\par
\tab margin: 10px 0;\par
\tab overflow: hidden;\par
\tab padding: 3px;\par
\tab width: 100px\par
\}\par
#fa_popup_content>div.post .postprofile dt img,#main-content>div.post .postprofile dt img,#userAvatar img,.avatar img,.mod-login-avatar dt>img,td.avatar-mini img \{\par
\tab border-radius: 100px;\par
\tab height: 100px;\par
\tab width: 100px\par
\}\par
/* Administration link */\par
p.copyright strong a \{\par
\tab color:#C66;\par
\tab background:url(https://i.servimg.com/u/f38/18/21/41/30/couron11.png) no-repeat 3px center #FDD;\par
\tab border:1px solid #FBB;\par
\tab border-radius:3px;\par
\tab display:inline-block;\par
\tab padding:4px 6px 4px 25px;\par
\}\par
p.copyright strong a:hover \{\par
\tab color:#B55;\par
\tab background-color:#ECC;\par
\tab border-color:#EAA;\par
\}\par
/*Post profile*/\par
div.post\{\par
\tab background-color:#FAFAFA;\par
\tab border:1px solid #DDD;\par
\tab border-bottom-width:2px;\par
\tab border-radius:3px;\par
\tab margin:10px 0;\par
\tab padding:0\par
\}\par
div.post .inner\{\par
\tab border-radius:3px 3px 0 0;\par
\tab border-top:14px solid #E4E4E4;\par
\tab border-top-color:#3b5998;\par
\tab border-top-color:#000099;\par
\tab margin:-1px -1px 0;\par
\tab padding:0 10px\par
\}\par
div.post[style*="background-color"].inner\{\par
\tab border-color:#9C9!important\par
\}\par
div.post[style*="background-color"]\{\par
\tab background-color:#DFD!important;\par
\tab border-bottom:2px solid #BDB;\par
\tab border-color:#CEC\par
\}\par
.postprofile\{\par
\tab background:url(https://i.servimg.com/u/f18/18/45/41/65/row10.png) repeat-x 0 0 #F6F6F6;\par
\tab border:1px solid #DDD;\par
\tab border-radius:3px;\par
\tab padding:60px 3px 3px;\par
\tab position:relative;\par
\tab text-align:center\par
\}\par
/* pagination */\par
.pagination span a, p.pagination span strong \{\par
\tab padding:2px 4px !important;\par
\}\par
.pagination span a \{\par
\tab font-weight:bold !important;\par
\tab color:#999 !important;\par
\tab background:#EEE;\par
\tab border:1px solid #CCC;\par
\tab border-radius:4px;\par
\tab box-shadow:0px 3px 6px rgba(255,255,255,0.5) inset, 0px -3px 6px rgba(0,0,0,0.15) inset;\par
\}\par
.pagination span a:hover \{\par
\tab color:#479 !important;\par
\tab background:#8BD !important;\par
\tab border:1px solid #69B !important;\par
\}\par
.pagination span strong \{\par
\tab color:#479;\par
\tab background:#8BD;\par
\tab border:1px solid #69B;\par
\tab border-radius:4px;\par
\tab box-shadow:0px 3px 6px rgba(255,255,255,0.5) inset, 0px -3px 6px rgba(0,0,0,0.15) inset;\par
\}\par
.pagination span a.pag-img \{\par
\tab background:none !important;\par
\tab border:none !important;\par
\tab box-shadow:none;\par
\}\par
/* MENU*/\par
body \{\par
\tab overflow-x: hidden !important;\par
\}\par
.navbar \{\par
\tab background: #F5F8FA!important;\par
\tab padding-top: 10px;\par
\}\par
#page-header .navbar a \{\par
\tab padding: 10px;\par
\}\par
/* -- START post content -- */\par
.post h2.topic-title \{\par
\tab display:block \par
\}\par
h1.page-title \{\par
\tab background: #FFFFFF;\par
\tab font-weight: bold;\par
\tab text-align: center;\par
\tab border: 1px solid #FFFFFF;\par
\tab border-radius: 10px 10px 10px 10px;\par
\tab box-shadow: 1px 2px 10px #3793FF;\par
\tab font-size: 20px;\par
\tab padding: 5px;\par
\}\par
p.author \{\par
\tab background:#F5F5F5;\par
\tab border:1px solid #CCC;\par
\tab display:inline-block;\par
\tab padding:3px;\par
\tab margin-top:3px 0;\par
\}\par
/* -- Table lines -- */\par
td.row1, td.row2, td.row3, td.row3Right, td.postbottom \{\par
\tab border-top: 1px dashed #111;\par
\tab border-right: 1px dashed #111;\par
\}\par
td.row1, td.row2, td.row3,td.row3Right, td.postbottom \{\par
\tab background: #f5f8fa;\par
\tab border-bottom-color:#111;\par
\tab border-bottom-width:1px;\par
\tab solidborder-left-color:#111;\par
\tab border-left-width:1px;\par
\tab border-right-color:#111;\par
\tab border-right-width:1px;\par
\tab border-top-color:#111;\par
\tab border-top-width:1px;\par
\tab margin-bottom:6px;\par
\tab margin-right: 3px;\par
\tab padding: 3px;\par
\}\par
/* legend */\par
p em \{\par
\tab font-style:normal \par
\}\par
/* faq */\par
dl.faq dd p \{\par
\tab border-color:#CCC \par
\}\par
/* -- END body content -- */\par
#profile-tab-field-profil div.separator \{\par
\tab border-bottom:1px dashed #CCC \par
\}\par
#new-message-link a \{\par
\tab border:none \par
\}\par
ul.topiclist.forums li.row:hover .desc-search \{\par
\tab visibility: visible;\par
\}\par
.desc-search \{\par
\tab visibility: hidden;\par
\tab margin: 3px 0 0;\par
\}\par
.desc-search .inputbox \{\par
\tab width: 180px;\par
\}\par
.postprofile \{\par
\tab text-align: center;\par
\}\par
a.forumtitle \{\par
\tab font-family: 'Mukta Malar', sans-serif;\par
\tab font-weight: 700;\par
\tab font-size:1.3em;\par
\tab letter-spacing: 1px;\par
\tab text-align: left;\par
\tab text-decoration: none;\par
\}\par
/* titles */\par
.content h1, .panel h1, .content h2, .panel h2 \{\par
\tab color:#257;\par
\tab text-transform:none;\par
\tab border-bottom:1px solid #257;\par
\}\par
.pathname-box,.topic-actions .path\{\par
\tab color:#666!important;\par
\tab float:left;\par
\tab margin:0 5px;\par
\tab padding:7px 25px\par
\}\par
.pathname-box \{\par
\tab -moz-border-radius: 3px;\par
\tab -moz-box-shadow: inset rgba(0,0,0,0.1) 0 1px 3px;\par
\tab -webkit-border-radius: 3px;\par
\tab -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 3px;\par
\tab background: #F3F3F3;\par
\tab border: 1px solid #D9D9D9;\par
\tab border-radius: 3px;\par
\tab box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 3px;\par
\tab margin-top: 10px;\par
\}\par
.pathname-box \{\par
\tab color: #F3F3F3;\par
\}\par
.pathname-box p \{\par
\tab color: #F7F2F2;\par
\tab font-size: 1.11em;\par
\tab line-height: 1.5;\par
\tab margin: 0;\par
\}\par
a.nav \{\par
\tab -moz-border-radius: 3px 0 0;\par
\tab -webkit-border-top-left-radius: 3px;\par
\tab background: url('https://i.servimg.com/u/f42/17/32/13/00/second10.png') no-repeat scroll 100% -1px transparent;\par
\tab color: #3B5998 !important;\par
\tab font-size: 12px;\par
\tab font-weight: bold;\par
\tab line-height: 30px;\par
\tab padding: 11px 17px 11px 4px;\par
\}\par
.signature_div \{\par
\tab margin-top: 100px;\par
\}\par
div.signature_div \{\par
\tab overflow: visible;\par
\tab width: 100%;\par
\tab height: 50%;\par
\}\par
div.signature_div * \{\par
\tab overflow: visible;\par
\tab max-width: auto;\par
\tab max-height: 100px;\par
\}\par
.postbody h2.topic-title a \{\par
\tab display: block;\par
\tab overflow: hidden;\par
\tab text-overflow: ellipsis;\par
\tab white-space: nowrap;\par
\}\par
/* sceditor */\par
.sceditor-button-mention div \{\par
\tab background-image:url(https://i.servimg.com/u/f19/18/21/60/73/scemen10.png) !important \par
\}\par
.sceditor-container textarea\{\par
\tab color:#000 !important;\par
\tab font-size: 20px;\par
\tab text-align: left;\par
\tab margin: 15px 0px 0px 0px;\par
\tab line-height: 30px;\par
\tab font-family: 'Mukta Malar';\par
\}\par
a[name="quickreply"]+div.h3\{\par
\tab display:none\par
\}\par
form#quick_reply #textarea_content \{\par
\tab clear: both;\par
\tab margin-left: auto;\par
\tab margin-right: auto;\par
\tab width: 80% !important;\par
\tab height: auto !important;\par
\}\par
div.clearfix \{\par
\tab clear: left;\par
\}\par
div.sceditor-toolbar \{\par
\tab background-color: #3b5998!important;\par
\tab border-color: #33b5998!important;\par
\}\par
\tab /* sceditor drop down input */\par
\tab #fa-mention \{\par
\tab\tab background:url(https://i.servimg.com/u/f19/18/21/60/73/scemen10.png) no-repeat 3px 50% #FFF;\par
\tab\tab padding-left:22px;\par
\tab\}\par
\tab .postbody .content img:hover \{\par
\tab\tab cursor: url('http://icons.iconarchive.com/icons/gakuseisean/ivista-2/32/Start-Menu-Search-icon.png'), auto;\par
\tab\tab max-width: 100%;\par
\tab\}\par
\tab .postbody .content img \{\par
\tab\tab max-width: 250px;\par
\tab\tab transition: all ease-out .2s;\par
\tab\}\par
\tab blockquote,div.codebox,dl.codebox \{\par
\tab\tab background: #F6F6F6!important;\par
\tab\tab border: 1px solid #39C;\par
\tab\tab border-bottom-width: 2px;\par
\tab\tab border-radius: 3px;\par
\tab\tab margin: 6px 3px;\par
\tab\tab padding: 3px\par
\}\par
\tab div.codebox code,dl.codebox code \{\par
\tab\tab color: #555;\par
\tab\tab font-size: 13px;\par
\tab\tab margin: -10px -3px -3px;\par
\tab\tab padding: 3px\par
\}\par
\tab blockquote cite,div.codebox p,dl.codebox dt \{\par
\tab\tab background: #39C;\par
\tab\tab border: none;\par
\tab\tab color: #FFF;\par
\tab\tab font-size: 12px;\par
\tab\tab padding: 3px\par
\}\par
\tab blockquote>div \{\par
\tab\tab margin: 0\par
\}\par
\tab blockquote cite a \{\par
\tab\tab color: #FFF!important\par
\}\par
\tab blockquote cite \{\par
\tab\tab margin: -5px -5px 10px\par
\}\par
\tab div.codebox p,dl.codebox dt \{\par
\tab\tab margin: -3px -3px 10px\par
\}\par
\tab div.codebox.hidecode>p:after,dl.codebox.hidecode>dt:after \{\par
\tab\tab content: "Hidden:"\par
\}\par
\tab /* Banned websites */\par
\tab a[href*="goo.gl"], a[href*="wordpress.com"], a[href*="t.me"] \{\par
\tab\tab display: none\par
\}\par
\tab /* or some site */\par
\tab a[href*="userupload.net"] \{\par
\tab\tab font-size:0\par
\}\par
\tab a[href*="tnpscnotes.com"], a[href*="###"] :after \{\par
\tab\tab font-size:14px;\par
\tab\tab content:"donkeydotcom"\par
\}\par
\tab /* Banned websites */\par
\tab /* Add fontawesome to textarea font-family so the icons are visible */\par
\tab .sceditor-container textarea \{\par
\tab\tab font-family:Verdana, Arial, Helvetica, sans-serif, FontAwesome !important \par
\}\par
\tab /* button image */\par
\tab .sceditor-button-fontawesome div \{\par
\tab\tab background:url(https://i.servimg.com/u/f19/19/06/98/92/fa-f10.png) !important \par
\}\par
\tab /* drop down */\par
\tab .sceditor-fontawesome \{\par
\tab\tab width:220px;\par
\tab\tab height:250px;\par
\tab\tab overflow-y:auto;\par
\tab\}\par
\tab .fontawesome \{\par
\tab\tab color: blue;\par
\tab\}\par
\tab /* icons */\par
\tab .sceditor-fontawesome i \{\par
\tab\tab color:#333;\par
\tab\tab font-size:20px;\par
\tab\tab text-align:center;\par
\tab\tab cursor:pointer;\par
\tab\tab padding:3px 0;\par
\tab\tab width:25%;\par
\tab\}\par
\tab .sceditor-fontawesome i:hover \{\par
\tab\tab color:#666 \par
\}\par
\tab /* End Add fontawesome to textarea font-family so the icons are visible */\par
\tab .post .postbody .content a.mentiontag,.post .postbody .content a[href^="/u"][title*="perfil"],.search .postbody a.mentiontag,.search .postbody a[href^="/u"][title*="perfil"]\{\par
\tab\tab background-color:#d8ecf5;\par
\tab\tab border-radius:4px;\par
\tab\tab color:#2d8cbb;\par
\tab\tab font-weight:600;\par
\tab\tab padding:4px 5px\par
\}\par
\tab .topicBox a.topictitle \{\par
\tab\tab padding: px 10px 12px 10px;\par
\tab\tab font-size: 10px;\par
\tab\tab color: #333;\par
\tab\tab border-bottom: 1px solid #ddd;\par
\tab\tab background-size: 6px auto;\par
\tab\tab display: block;\par
\tab\tab transition: all .3s ease-in-out;\par
\tab\}\par
\tab .topicBox a.topictitle:hover\{\par
\tab\tab color:#000;\par
\tab\tab text-decoration:none;\par
\tab\tab font-size:12.5px;\par
\tab\tab line-height:16px;\par
\tab\tab -webkit-transform:scale(1.1,1.1);\par
\tab\tab transform:scale(1.1,1.1);\par
\tab\tab box-shadow:1px 1px 15px -3px #333;\par
\tab\tab position:static;\par
\tab\}\par
\tab /* -- 17. MESSAGE EDITOR -- */\par
\tab #text_editor_textarea \{\par
\tab\tab height:250px;\par
\tab\tab width:90%;\par
\tab\}\par
\tab #message-box #textarea_content \{\par
\tab\tab width:100% !important;\par
\tab\}\par
\tab #message-box \{\par
\tab\tab float:left;\par
\tab\tab width:80%;\par
\tab\}\par
\tab .sceditor-container \{\par
\tab\tab border:2px solid #69C !important;\par
\tab\tab border-radius:0 !important;\par
\tab\}\par
\tab .sceditor-container .sceditor-toolbar \{\par
\tab\tab background-color:#69C;\par
\tab\tab border-color:#58B;\par
\tab\tab border-radius:0;\par
\tab\}\par
\tab\par
}
